/* #region General CSS */
body {
  background: #5c8cbb;
  font-family: 'Roboto', sans-serif;
}
.displayNone {display: none;}
.displayBlock {display: block;}
.form-control:focus {
  box-shadow: none;
  border-color: #f4f4f4;
}
.btn-primary.focus, .btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {box-shadow: none;}
h1 {
  font-size: 2rem;
  color: #5c8cbb;
}
/* #endregion General CSS */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.main {
  margin-top: 100px;
}

/* #region Todo List */
.todo-list {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}

.todo-list-new-item {
  margin: 20px 60px;
  -webkit-box-shadow: 0px 5px 5px -4px rgba(168,168,168,1);
-moz-box-shadow: 0px 5px 5px -4px rgba(168,168,168,1);
box-shadow: 0px 5px 5px -4px rgba(168,168,168,1);
}

.todo-list-new-item:focus {
  -webkit-box-shadow: 0px 5px 5px -1px  rgba(0,0,0,0.29);
  -moz-box-shadow: 0px 5px 5px -1px  rgba(0,0,0,0.29);
  box-shadow: 0px 5px 5px -1px  rgba(0,0,0,0.29);
}

.input-new-item {
  height: 50px;
  font-size: 1.25rem;
}
/* #section List Item */
.list-item {
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.36);
  -moz-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.36);
  box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.36);
  padding: 10px;
  border-radius: 5px;
  clear:both;
}

.list-item .list-item-text {
  font-size: 1.75rem;
  background: none;
  border: none;
  text-align: center;
}

.list-item .title {
  text-align: left;
  padding-left: 5px;
  margin: 5px 0px;
}

.list-item-options {margin-top: 20px;}
.edit-options-buttons {text-align: right;}
/* #endsection List Item */

/* #endregion Todo List */